<p><%= @transports %></p>

<div class= "banner-transport">
  <div class="h1"><h1> Découvrez les transports verts proche de chez vous</h1></div>
    <div> <h2>Envie de tester le roller quad ? Laissez-vous tenter par ces belles paires.. </h2></div>
  </div>
</div>
