<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1449824913935-59a10b8d2000?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80)">
<h2>Discover all the transports <i class="far fa-hand-point-down"></i></h2>
</div>

<ul>
<% @owner_transports.each do |owner_transport| %>
  <li><%= owner_transport.transport_type %>
  <%= link_to owner_transport_path(@owner_transports),
  method: :delete,
  data: { confirm: "Are you sure?" } do %>
  <i class="fas fa-trash-alt"></i>
  <% end %>
  </li>
<% end %>
</ul>

<%= render "/shared/form", transport: @transport %>
