// Specific CSS for your home-page
.banner-home{
  background-image: url("https://cdn.shopify.com/s/files/1/0268/1454/6031/files/buy-boosted-boards-electric-skateboard-in-stock-1_2000x.jpg?v=1586786055");
  height: 100vh;
  position: center;
  background-size: cover;
}

body {
  background-color: #B8CCD5;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.hometitle {
  padding-left: 5vw;
  text-align: left;
  font-size: 35px;
  color: white;
  text-shadow: 2px 2px 4px gray;
  font-weight: 600
}


.hometitle h2 {
  font-weight: lighter;
  padding-top: 15vh;
  text-shadow: 5px 2px 5px gray
}

.hometitle h1 {
  padding-top: 8vh;
  font-size: 70px;
}

.container-home {
  max-width: 100%;
  padding: 0;
}

.btn-join {
  color: white;
  border: 1px solid #025075;
  background: linear-gradient(to right, #025075, #025176, #025479, #025176);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  margin-top: 5vh;
  max-width: 11vw;
  position:inherit;
  text-align: center;
  opacity: 0.75
}

#btn-txt {
  a {
    color: white;
    font-size: 0.5em;
    display: flex;
    text-decoration: none;
    justify-content: center;
  }
}

.btn-join:hover {
  transition: opacity 0.3s ease;
  opacity: 1;
  background-color: #E1E5E8;
  border-color: #025075;
  text-decoration: none;
}
