// Specific CSS for your home-page
.banner-home{
  background-image: url("skatecity.jpg");
  height: 660px;
  position: center;
  background-size: cover;
}

body {
  background-color: beige;
}

h1 {
  font-size: 60px;
}

h2 {
  color: #446C78;
  text-align: center;
  font-size: 30px;
}

.h1 {
  padding-top: 60px;
  color: #446C78;
  text-align: center;
}

.btn-join {
  margin: 90px 665px;
  width: 250px;
  height: 50px;
  font-size: 25px;
  padding: 10px;
  background-color: #c9d7db;
  border-radius: 4%;
  text-align: center;
  text-decoration: none;
  border-color: #538594;
}

.btn-join:hover {
  background-color: #E1E5E8;
  border-color: #538594;
  text-decoration: none;
}
