.card-category-owner {
  background-size: cover;
  background-position: center;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
h2 {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

h3 {
  margin-top: 10px;
}

.cards-container {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 4vw;
  text-align: center;
  justify-content: space-around;
}

.card-reservation {
  background-color: #F7F7F7;
  border-radius: 19px;
  height: auto;
  min-height: 30vh;
  width: auto;
  min-width: 30vw;
  box-shadow: 4px 5px 7px lightgray
}

.card-form {
  justify-content: center;
  display: flex;
}

.btn-reservation {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #B8CCD5;
  transition: background 0.3s ease;
  height: 50px;
}

.btn-reservation:hover {
  background: #167FFB;
  color: white;
}
