body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-product {
  overflow: hidden;
  height: 150px;
  width: 30 0px;
  background:white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.card-product-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 15px;
  padding-bottom: 30px;
  margin-top: 100px;
}

.search-control {
  margin-top: 50px;
  width: 800px;
  display: flex;
  position: center;
}

.container h1 {
  padding-top: 100px;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.card_description {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.card_description > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card_description h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card_description p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color:black;
}


.description {
  padding: 16px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
