<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Cassrossignol/EN_ROUE_LIBRE"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/enrouelibrebordeaux/?hl=fr"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/enrouelibre.centrevaldeloire"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/en-roue-libre-lille/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    ce footer est en roue libre <i class="fas fa-heart"></i>
  </div>
</div>
