<div class="container-home">
  <div class= "banner-home">
    <div class="hometitle">
      <h1>Des transports verts  proches <br/> de chez vous</h1>
      <h2>Vélo, Trotinette, Skateboard, One wheel, ridez <br/> comme vous le voulez </h2>
      <div class= "btn-join">
        <div id= 'btn-txt'>
          <%= link_to "Rejoins la ride", "transports" %>
        </div>
      </div>
    </div>
  </div>
</div>
