<div class= "banner-home">
    <h1>Vélo, Trotinette, Roller, Skateboard, Onewheel .. proche de chez vous</h1>
    <div class= "btn-join">
      <%= link_to "Rejoins la ride", "/index.html.erb" %>
    </div>
  </div>
</div>
