<div class= "banner-home">
  <div class="h1"><h1> Des transports verts proche de chez vous</h1></div>
    <div><h2>Vélo, Trotinette, Skateboard, One wheel ...</h2></div>
    <div class= "btn-join">
      <%= link_to "Rejoins la ride", "transports" %>
    </div>
  </div>
</div>
